### Task 0: Program basic functions
Done by Aaron Kurian Manoj Philipose

Function named countTrips. It will take a pandas bike trips history dataframe as
its input. The function should return an integer indicating the number of trips that are
contained in the dataframe.

In [2]:
import pandas as pd
df=pd.read_csv('202412-citibike-tripdata_1.csv')
df

C:\Users\aaron\AppData\Local\Temp\ipykernel_16024\1113045407.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('202412-citibike-tripdata_1.csv')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0230C3D2FD938CDC,electric_bike,2024-12-07 14:52:48.193,2024-12-07 15:01:50.062,E 17 St & Broadway,5980.10,W 10 St & Washington St,5847.06,40.737006,-73.990134,40.733424,-74.008515,member
1,E100F74AB6D4A5E5,classic_bike,2024-12-05 07:06:43.358,2024-12-05 07:09:41.879,Washington St & Gansevoort St,6039.06,W 10 St & Washington St,5847.06,40.739323,-74.008119,40.733424,-74.008515,member
2,2D65D718E43326DB,classic_bike,2024-12-08 20:58:37.891,2024-12-08 21:02:30.819,Lenox Ave & W 140 St,7872.03,E 138 St & 5 Ave,7809.13,40.817245,-73.938787,40.814490,-73.936153,member
3,CCAD2B5AE2CF0654,electric_bike,2024-12-02 18:49:11.768,2024-12-02 18:52:21.168,Cadman Plaza E & Tillary St,4677.01,Front St & Jay St,4895.03,40.695977,-73.990149,40.702461,-73.986842,member
4,0E708C6C7F2E8FC8,electric_bike,2024-12-09 09:27:59.885,2024-12-09 09:34:24.305,Morningside Dr & Amsterdam Ave,7741.04,St Nicholas Terrace & Convent Ave,7937.15,40.810285,-73.957365,40.821294,-73.947868,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
591934,4EF2B006B4647E06,electric_bike,2024-12-03 17:04:18.893,2024-12-03 17:14:40.691,Willoughby Ave & Walworth St,4634.02,Broadway & Kosciuszko St,4608.01,40.693317,-73.953820,40.693290,-73.928520,member
591935,3C53EFE3B7B6917F,electric_bike,2024-12-03 12:05:21.087,2024-12-03 12:16:43.421,Lorimer St & Calyer St,5709.04,Carlton Ave & Flushing Ave,4732.08,40.727950,-73.954140,40.697787,-73.973736,member
591936,6B3A1C661E74340D,electric_bike,2024-12-03 15:50:26.203,2024-12-03 15:52:45.338,Lawrence St & Willoughby St,4596.09,Johnson St & Gold St,4668.08,40.692362,-73.986317,40.694749,-73.983625,member
591937,BF0C60CFDEAEBD1C,classic_bike,2024-12-06 07:51:20.499,2024-12-06 08:07:58.914,West St & Chambers St,5329.03,W 20 St & 7 Ave,6182.02,40.717548,-74.013221,40.742388,-73.997262,member
591938,16CDA94E8339760C,classic_bike,2024-12-01 13:35:42.539,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def countTrips(df):
    #counts the total number of trips in the dataframe
    #returns int number of trips in the df
    return df.shape[0]

countTrips(df)

591939

Function named avgTripDuration that will return the average trip duration (in
seconds) for a given pandas bike trips history dataframe.

In [4]:
def avgTripDuration(df):
    #errors='coerce' to handle problematic date formats by converting them to NaT
    df['started_at'] = pd.to_datetime(df['started_at'], errors='coerce')
    df['ended_at'] = pd.to_datetime(df['ended_at'], errors='coerce')
    #calculate trip duration only for rows where both start and end times are valid
    df['tripduration'] = (df['ended_at'] - df['started_at']).dt.total_seconds()
    #drop NaN values before calculating mean
    return df['tripduration'].dropna().mean()

avgTripDuration(df)

np.float64(634.8925060715816)

Function named maxTripDuration that will return the maximum trip duration (in
seconds) for annual members who were born on or after a given (input) year.


• This function will take two inputs, in this order:

▪ A 4-digit integer year (e.g., 1999), and

▪ A pandas bike trips history dataframe.

In [5]:
#2024 data does not have a column for birthdate.
#importing 2017 data as it containts birth date column;
df17=pd.read_csv('201701-citibike-tripdata.csv_1.csv')
df17

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226.0,W 82 St & Central Park West,40.782750,-73.971370,3165.0,Central Park West & W 72 St,40.775794,-73.976206,25542.0,Subscriber,1965.0,2.0
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263.0,Cooper Square & E 7 St,40.729236,-73.990868,498.0,Broadway & W 32 St,40.748549,-73.988084,21136.0,Subscriber,1987.0,2.0
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,18147.0,Customer,NaN,0.0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,21211.0,Customer,NaN,0.0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143.0,5 Ave & E 78 St,40.776829,-73.963888,3152.0,3 Ave & E 71 St,40.768737,-73.961199,26819.0,Customer,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675184,1592,2017-01-30 07:56:47,2017-01-30 08:23:20,3173.0,Riverside Blvd & W 67 St,40.777507,-73.988886,328.0,Watts St & Greenwich St,40.724055,-74.009660,19376.0,Subscriber,1979.0,1.0
675185,753,2017-01-30 07:56:51,2017-01-30 08:09:24,428.0,E 3 St & 1 Ave,40.724677,-73.987834,325.0,E 19 St & 3 Ave,40.736245,-73.984738,24831.0,Subscriber,1964.0,2.0
675186,329,2017-01-30 07:56:52,2017-01-30 08:02:21,472.0,E 32 St & Park Ave,40.745712,-73.981948,167.0,E 39 St & 3 Ave,40.748901,-73.976049,16860.0,Subscriber,1960.0,2.0
675187,372,2017-01-30 07:56:52,2017-01-30 08:03:04,3095.0,Graham Ave & Herbert St,40.719293,-73.945004,3082.0,Hope St & Union Ave,40.711674,-73.951413,16493.0,Subscriber,1985.0,1.0
675188,194,2017-01-30 07:56:53,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def maxTripDuration(year, df):
  filtered=df[(df['User Type']=='Subscriber')&(df['Birth Year'].notna())&(df['Birth Year']>=year)]
#filters subscribers born on or after the input year
  if filtered.empty: #incase of no matching data
    return None

  return filtered['Trip Duration'].max()

maxtripdur=maxTripDuration(1990,df17)
print(maxtripdur, 'seconds')

5325688 seconds

Function named countAllStations that will return the number of unique stations
(across both start and end stations) in a given bike trips history dataframe.

In [7]:
def countAllStations(df):
    #return the int number of unique stations (across both start and end stations) in bike trips history dataframe
    unique_start = df['started_at'].unique()
    unique_end = df['ended_at'].unique()
    all_unique = set(unique_start).union(set(unique_end))
    return len(all_unique)

print(countAllStations(df))

1182871

Function named avgTripsByDayOfWeek that will return a 7
element list containing the average number of trips taken on each day of the week.

In [8]:
def avgTripsByDayOfWeek(df):
    
    #returns a 7-element list containing the average number of trips taken on each day of the week.
    #The first entry is for Sunday, the last for Saturday, using 'started_at' as trip start time. 
    
    #ensure 'started_at' is datetime
    df['started_at'] = pd.to_datetime(df['started_at'])
    #add day of week (where Monday=0, Sunday=6)
    df['day_of_week'] = df['started_at'].dt.dayofweek
    #add 'trip_date' column for calendar day grouping
    df['trip_date'] = df['started_at'].dt.date
    #count trips per day per weekday
    trips_per_day = df.groupby(['trip_date', 'day_of_week']).size().reset_index(name='trips_count')
    #average trips by each weekday
    avg_by_day = trips_per_day.groupby('day_of_week')['trips_count'].mean()
    #arrange so Sunday is first: [Sunday, Monday, ..., Saturday]
    avg_list = [avg_by_day.get(6, 0)] + [avg_by_day.get(i, 0) for i in range(0, 6)]
    return avg_list
    
print("Average trips by day of week [from Sunday to Saturday respectively]:",avgTripsByDayOfWeek(df))

Average trips by day of week [from Sunday to Saturday respectively]: [np.float64(36686.0), np.float64(43077.5), np.float64(48176.5), np.float64(41137.0), np.float64(45232.5), np.float64(45098.5), np.float64(24374.333333333332)]

Function named topXdepartures that will find the x stations that have the most 
departures, sorted in descending order. If there are ties, include those as well.

In [16]:
import pandas as pd

def get_column(df, possible_names):
    """
    Returns the first column name from 'possible_names' that exists in the dataframe.
    Raises an error if none are found.
    """
    for name in possible_names:
        if name in df.columns:
            return name
    raise KeyError(f"None of the expected columns found: {possible_names}")


def topXdepartures(x, df):
    """
    Finds the top X stations with the most departures.
    Includes tied stations 

    Returns a dataframe with:
    -rank (1 = highest departures, ties share rank)
    -start station id
    -number of departures

    Inputs:
      -x: number of top ranks to return (ties included)
      -df: CitiBike trip history dataframe
    """

    #identify the correct start station id column
    #tries multiple possible versions that might appear in CitiBike datasets
    start_col = get_column(df, [
        "start station id",
        "Start Station ID",
        "start_station_id",
        "start id",
        "start_id"
    ])

    #count the number of departures per station
    #groupby → groups by station ID
    #size()  → counts how many rows per station
    counts = (
        df.groupby(start_col)
          .size()
          .reset_index(name="number of departures")
    )

    #sort stations by number of departures in descending order
    counts = counts.sort_values("number of departures", ascending=False)

    #assign dense ranks:
    #- highest departure count = rank 1
    #- ties get the same rank
    #- next unique value gets rank +1 (no gaps)
    counts["rank"] = counts["number of departures"].rank(
        method="dense",   # ensures no skipped ranks
        ascending=False
    ).astype(int)

    #extract all unique ranks, sorted (1, 2, 3, ...)
    unique_ranks_sorted = sorted(counts["rank"].unique())

    #determine the cutoff rank:
    #if x = 10, we take the 10th rank.
    #but if x > total ranks, take the last available rank.
    cutoff_rank = unique_ranks_sorted[min(x, len(unique_ranks_sorted)) - 1]

    #filter stations whose rank is within the cutoff (ties included)
    result = counts[counts["rank"] <= cutoff_rank]

    #return the dataframe with correct column order
    return result[["rank", start_col, "number of departures"]]


print(topXdepartures(3, df))

      rank start_station_id  number of departures
1867     1          6140.05                  2095
1767     2          5905.14                  1954
1983     3          6331.01                  1934